//@import "compass";
// @import "partials/variables";
$parent-bg-clr:#f5ab35;
$header-bg-clr:#f7bc5d;
$white-clr:#fff;
$black-clr:#000;
$body-bg-clr:#959595;
$font20:20px;
$font25:25px;
$font30:30px;
$font32:32px;
$font35:35px;


// @import "partials/baseClasses";
input{
    &:selection,&:focus,&:hover{
        border:0;
        outline: none;
        color:#FFF;
    };
    &::-webkit-input-placeholder{
        color:#FFF;
    }
}
ul,li{list-style: none}
ul{margin: 0;padding: 0}

.search-icon{
    background: url("../assets/images/search-icon.png") no-repeat;
    display: inline-block;
    position: absolute;
    height: 38px;
    width: 38px;  
}

.back-arrow-circle{
    background: url("../assets/images/back-arrow-circle.png") no-repeat;
    display: inline-block;
    position: absolute;
    height: 72px;
    width: 72px;        
}
.margin_10_0{
    margin: 10px 0;
}
.clear{clear: both}

.hide{display: none !important}

.common_parent_prop{
    background: $parent-bg-clr;
    margin: 10px auto;
    width: 800px;
    @media (max-width: 768px) {
        width: auto;
    }
}

.error{
    text-align: center;
    font-size: $font30;
    opacity: 0.5;
    margin-top:20px;
}
// @import "partials/mixins";
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}
    
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $white-clr;
    background: $body-bg-clr;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}