div.single-movies-response-parent{
    @extend.common_parent_prop;
    position: relative;
    min-height:300px;

    .loader{
        position: absolute;top: 0;bottom: 0;right: 0;left: 0;text-align: center;background: $white-clr;z-index:1000;
        img{
            margin-top: 15%;
        }
    }
    
    .back-arrow-circle-parent{
        position: relative;
        .back-arrow-circle{
            top: 50px;
            left: 30px;
        }
    }
    div.Detail-image{
        img{
            width: 100%;
        }
    }
    div.movie-name{
        padding: 30px 20px; 
        .movie-name-text{
            font-size: $font35;
            @media (max-width: 768px) {
                    font-size: $font30;
            };
        };
        .movie-release-year{
            font-size: $font25;
            padding: 2px;
            opacity: 0.7;
            @media (max-width: 768px) {
                font-size: $font20;
            };
        }
    };
    
    div.movie-Detail-text{
        background: $white-clr;
        color: $black-clr;
        padding: 30px;
        font-size: 30px;
        line-height: 50px;
        @media (max-width: 768px) {
            line-height: normal;
        };
        
    }
}