div.related-movies-response-parent{
    @extend.common_parent_prop;
    padding:50px 0 0 0;
    position:relative;
    min-height: 300px;

    .loader{
        position: absolute;top: 0;bottom: 0;right: 0;left: 0;text-align: center;
        background: $white-clr;z-index:1000;
        img{
            margin-top: 15%;
        }
    }
    
    div.response-parent{
        position: relative;
        text-align: center;
        .response-back-arrow{
            position: absolute;
            left:50px;
            top: 20px;

            a{
                span{
                    background: url("../assets/images/back-arrow.png") no-repeat;
                    display: inline-block;
                    height: 42px;
                    width: 22px;
                }
            }
        };
        .search-results{
            font-size: $font35; 
        }
        .search-Text{
            font-size: $font30;
            opacity: 0.7;
            text-transform: capitalize;
        }
        
    }
    div.movie-poster{
        background: $white-clr;
        padding: 5px;
        ul{
            display: inline-block;
            width:100%;
            li{
                float: left;
                width: 49%;
                padding: 0.5% 0.5% 0 0.5%;
                max-height: 350px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
    }
};