<div class="parent">
    <div class="header-image">
        <img src="../../assets/images/omdb-logo.png" alt="logo">
    </div>
    <div class="header-text">
        Search for your favourite movie...
    </div>
    
    <div class="search-bar-parent">
        <div class="search-bar-child">
			<form (keydown)="keyDownFunction($event)">
				<a ng-href="movies/{{searchedText}}">
					<span class="search-icon"></span>
				</a>
            	<input type="text" value="SEARCH" placeholder="SEARCH" [(ngModel)]="searchedText" />
			</form>
		</div>
    </div>
    
    <div class="information">
        <div class="margin_10_0">The Largest</div>
        <div class="margin_10_0">online movie database</div>
    </div>
</div>